name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  Build:
    strategy:
      matrix:
        go-version: [1.18.x, 1.19.x, 1.20.x, 1.21.x]
        gop-version: [1.1, 1.1.7, latest]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go ${{ matrix.go-version }} and Go+ ${{ matrix.gop-version }}
        uses: goplus/setup-goplus@v1
        with:
          go-version: ${{ matrix.go-version }}
          gop-version: ${{ matrix.gop-version }}
      - name: Run gop
        run: gop run .
      - name: Run gop tests
        run: gop test -v ./...
